* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #111;
  line-height: 1.6;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); /* โปร่งใส */
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.logo {
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #d4bfa8; /* สีทองอ่อน */
}
/* HERO SECTION */
.hero {
  position: relative;
  background: url('005.jpg') no-repeat center/cover;
  height: 140vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.overlay .year {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 14px;
  opacity: 0.8;
}

.overlay h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  letter-spacing: 8px;
  color: #fff;
}

.overlay .credit {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 12px;
  opacity: 0.8;
}

/* INFO SECTION */
.info {
  background-color: #1a1a1a;
  text-align: center;
  padding: 80px 40px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.project h2 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.project p {
  color: #ccc;
  font-size: 20px;
  margin-bottom: 40px;
}

/* MAP */
.map img {
  opacity: 0.1;
  width: 300px;
  margin: 0 auto;
}

/* COLORS */
.colors {
  margin-top: 40px;
}

.colors h3 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.white {
  background-color: #f5f5f5;
}

.gold {
  background-color: #bc927f;
}

.green {
  background-color: #3c672f;
}

/* GRID */
.grid {
  margin-top: 60px;
}

.grid h3 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.grid p {
  color: #aaa;
  font-size: 13px;
  letter-spacing: 1px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #f0f0f0;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    color: #2c2929;
}

.card button {
    padding: 8px 20px;
    border: 1px solid #333;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
}

.card button:hover {
    background: #333;
    color: #fff;
}
.section h2 {
  padding-bottom: 30px;
  font-family: 'Playfair Display', serif;
}

.edu {
  padding-bottom: 30px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top: 30px;
  background-color: #1a1a1a;
}

.read-more {
  color: #0f0f0f;
  font-size: 1.1rem;
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  border: 2px solid #0f0f0f;
  padding: 5px 10px;
}
a {
  text-decoration: none;
  color: inherit;
}


.read-more:hover {
        background-color: #3f3d3d;
        color: #222;
        border-color: #fff;
    }

    .icons {
  background-color: #f8f8f6;
  color: rgb(46, 44, 44);
  display: flex;
  justify-content: space-around;
  padding: 50px 80px;
  flex-wrap: wrap;
}

.icon-box {
  max-width: 220px;
  text-align: center;
}

.icon-box h4 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  gap: 50px;
}

footer {
  background-color: #000;
  padding: 30px 0;
  text-align: center;
}

.footer-content p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.footer-links a {
  color: #bbb;
  margin: 0 10px;
  font-size: 1rem;
}

.footer-links a:hover {
  color: #fff;
}